@font-face {
  font-family: "BrownEntrata-Bold";
  src: url("fonts/BrownEntrata-Bold.otf");
}

@font-face {
  font-family: "BrownEntrata-Light";
  src: url("fonts/BrownEntrata-Light.otf");
}

@font-face {
  font-family: "BrownEntrata-Regular";
  src: url("fonts/BrownEntrata-Regular.otf");
}

@font-face {
  font-family: "BrownEntrata-Regular";
  src: url("fonts/BrownEntrata-Regular.otf");
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Work Sans', sans-serif; */
  font-family: 'BrownEntrata-Regular';
}

.dark-text { color: #212427; }
.white-text { color: white; }
.light-gray-text { color: #ccc; }
.tiny-text { font-size: 12px;}
.margin-top-10 { margin-top: 10px; }
.margin-btm-10 { margin-bottom: 10px; }
.width-400 { width: 500px; line-height: 47px;}
.down-arrow { padding-top: 10px; }

.font-size-22 { font-size: 22px; }
.font-weight-300 { font-weight: 300; font-family: 'BrownEntrata-Light', sans-serif; }
.shadow { box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); }
.testimonial-text { line-height: 1.5; color:#212427;}


h1 {
  position: relative;
  font-size: 2vw;
  overflow: hidden;
}

h1 .box {
  position:absolute;
  bottom: 0;
  display: inline-block;
  background: #ccc;
  height: 1vw;
  z-index: -1;
}

h1 .hi {
  display: inline-block;
}

h2 {
  color: #f5f5f5;
  font-size: 45px;
  padding-top: 60px;
  margin-bottom: 30px;
}

h3 {
  color: #f5f5f5;
  padding-bottom: 30px;
  font-size: 35px;
}

h4 {
   padding-top: 150px;
}

nav { 
  background-color: #212427;
  position: relative;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style-type: none;
  color: #F5F5F5; 
  font-weight: 400;

}

nav ul li {
  padding: 15px 15px;
}

section.hero { 
  width: 100%;
  height: 620px;
  background-color: #212427; 
}

.fixed-top-logo {
  position: fixed;
  top: 10;
  left: 550px;
}

.fixed-nav-search { 
  position: fixed;
  top: 10;
  right: 100px;
}

.fixed-nav-hamburger { 
  position: fixed;
  top: 10;
  right: 50px;
}

button {
  margin-top: 30px;
  padding: 15px 35px;
}

#hero h1 {
  color: #f5f5f5;
  text-align: left;
  font-size: 65px;
}

#hero p {
  color: #f5f5f5;
  font-weight: 300;
  font-size: 25px;
}

div#hero {
  max-width: 700px;
  height: 280px;
  margin: 0 auto;
  margin-top: 10rem;
  background-color: #212427;
}

.test {
  /* background-color: red; */
  width: 100%;
  height: 900px;
}

.row1 { display: flex;}
.row2 { display: flex;}
.row3 { display: flex;}
.row4 { display: flex;}
.row5 { display: flex;}

.row1-btm { display: flex;}
.row2-btm { display: flex;}
.row3-btm { display: flex;}
.row4-btm { display: flex;}
.row5-btm { display: flex;}

.div1 { width: 335px; margin-right: 40px; }
.div2 { width: 335px; }
.div3 { width: 335px; margin-right: 40px; }
.div4 { width: 335px; }
.div5 { width: 335px; margin-right: 40px; }
.div6 { width: 335px; }
.div7 { width: 335px; }
.div8 { width: 335px; }

.div1-btm { width: 335px; margin-right: 40px; }
.div2-btm { width: 335px; }
.div3-btm { width: 335px; margin-right: 40px; }
.div4-btm { width: 335px; }
.div5-btm { width: 335px; margin-right: 40px; }
.div6-btm { width: 335px; }
.div7-btm { width: 335px; }
.div8-btm { width: 335px; }

.div8 .submit-btn { width: 175px;}


/* Demo Form Styling */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=tel]{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: red;
  border: 2px solid white;
  color: white;
  font-weight: bold;
  margin-top: 30px;
  padding: 15px 35px;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: white;
  color: red;
}

/* .container {
  max-width: 700px;
  margin: 0 auto;
  border-radius: 5px;
  background-color: red;
  color: white;
  padding: 20px 0;
} */
/* End of Demo Form Styling */

#app {
  max-width: 700px;
  height: auto;
  margin:0 auto;
  padding-bottom: 30px;
}

.slider {
  display: flex;
  margin-bottom: 90px;
}

.app-screen:nth-child(1) {
  padding-left: 75px;
}

.app-screen { 
  margin-left: -75px;
  padding-right: 50px;
  flex-direction: column;
  text-align: center;
 }

.app-screen p {
  padding-top: 7px;
}

.benefits {
  display: flex;
  flex-direction: row;
  font-size: 14px;
}

.cards {
  display: flex;
  width: 700px;
  height: 500px;
  margin: 0 auto;
}

.card-title {
  font-size: 14px;
  margin-top: 330px;
  text-align: center;
}

a { 
  text-decoration: none;
  color: black;
}

.card { 
  width: 183px;
  height: 395px;
  background: white;
  border-radius: 1.2rem;
  padding: 2rem;
  box-shadow: 3px -2px 10px 2px rgba(0,0,0, 0.45);
  transition: 0.2s;
}

.card1 { 
  background-image: url('images/image-1.png'); 
  background-repeat: no-repeat;
  background-size: 185px;
  width: 183px;
  height: 395px;
}

.card2 { 
  background-image: url('images/image-2.png'); 
  background-repeat: no-repeat;
  background-size: 183px;
  width: 183px;
  height: 395px;
}

.card3 { 
  background-image: url('images/image-3.png'); 
  background-repeat: no-repeat;
  background-size: 183px;
  width: 183px;
  height: 395px;
}

.card4 { 
  background-image: url('images/image-4.png'); 
  background-repeat: no-repeat;
  background-size: 183px;
  width: 183px;
  height: 395px;
}

.card5 { 
  background-image: url('images/image-5.png'); 
  background-repeat: no-repeat;
  background-size: 183px;
  width: 183px;
  height: 395px;
}

.card:not(:first-child) {
  margin-left: -3rem;  
}

.card:hover {
  transform: translateY(-1rem);

}

.card:hover  ~ .card {
  transform: translateX(3rem);
}

hr {
  margin: 25px 0;
}

.benefits ul {
  padding-right: 50px;
  margin-bottom: 75px;
  margin-left: 15px;
}

.benefits ul li {
  margin: 9px 0;
}

section#alexa {
  display: flex;
  width: 100%;
  height: 400px;
  margin: 0 auto;
  background-color: #212427;
  color: white;
  font-size: 30px;
}

.alexa-voice {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 170px;
}

.alexa-img {
  margin-top: 116px;
  margin-right: 295px;
}

/* New for alexa video */

.video-container {
  height: 400px;
  width: 100%;
  position: relative;
}

.video-container video {
width: 100%;
height: 100%;
position: absolute;
object-fit: cover;
z-index: 0;
}

/* Just styling the content of the div, the *magic* in the previous rules */
.video-container .caption {
z-index: 1;
position: relative;
text-align: center;
color: #dc0000;
padding: 10px;
}

/* End of Alexa Video section */

/* New Testimonial */
.thero {
  background-color: gray;
  height: 100vh;
  width: 100%;
  position: relative;
}

.thero h1 {
  text-align: center;
  padding-top: 80px;
  font-size: 40px;
  color: white;
}

.slide-row {
  display: flex;
  width: 3200px;
  transition: 0.5s;
}

.slide-col {
  width: 800px;
  height: 400px;
  position: relative;
}

.user-img {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

.user-img img {
  height: 100%;
  border-radius: 10px;
}

.user-text {
  background: #2d3a59;
  width: 520px;
  height: 320px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 10px;
  color: #d3d4d6;
  padding: 45px;
  box-sizing: border-box;
  z-index: 2;
}

.user-text p {
  font-size: 18px;
  line-height: 24px;
}

.user-text {
  margin: 35px 0 5px;
  color: white;
}

.test-container {
  width: 800px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.indicator {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -50px;
}

.btn {
  display: inline-block;
  height: 15px;
  width: 15px;
  margin: 4px;
  border-radius: 15px;
  background: white;
  cursor: pointer;
  transition: 0.5s;
}

.active {
  width: 45px;
}

.test {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* End of New Testimonial */

.offer {
  display: flex;
  width: 100%;
  height: 300px;

}

.review-container {
  display: flex;
  max-width: 750px;
  margin: 90px auto;
  height: auto;
}

.review:nth-child(1) {
  padding-right: 15px;
}

.review {
  display: flex;
  padding-right: 15px;
}

.customer-review-container {
  border-bottom: 1px solid #ccc; 
  padding: 0 30px;
  margin-left: 30px;
}

.footer-form {
  background-color: red;
}

.footer-container {
  background-color: red;
}

.form-container { 
  max-width: 700px;
  margin: 0 auto;
  padding-bottom: 80px;
}

.form-container-btm { 
  max-width: 700px;
  margin: 0 auto;
  padding-bottom: 80px;
}

.hidden { display: none; }

label {
  color: white;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: red;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: transparent;
}

.testimonials-container {
  padding-top: 60px;
}

.testimonial-text {
  font-size: 20px;
}

.customer {
  margin-top: 15px;
  font-weight: 300;
  font-style: italic;
}

footer {
  display: block;
  width: 100%;
  height: 600px;
  background-color: black;
}

.footer-menu {
  display: flex;
  color: white;
  background-color: black;
  padding-left: 18%;
}

.no-bullets {
  list-style-type: none;
}

.footer-link {
  text-decoration: none;
  color: white;
  font-family: 'BrownEntrata-Light';
  font-weight: 300;
}

.footer-link:hover {
  text-decoration: underline;
}


ul {
  flex-direction:column;
  padding-right: 60px;
}

li {
  font-weight:300;
  font-family: 'BrownEntrata-Light';
  line-height: 1.5;
}

.col-1 { margin-top: 80px; }
.col-2 { margin-top: 80px; }
.col-3 {margin-top: 80px; }
.col-4 {margin-top: 80px; }
.col-5 {margin-top: 80px; }
.col-6 {margin-top: 80px; }

.footer-logo {
  width: 100%;
  display: block;
  margin: 0 auto;
  text-align: center;
  background-color: black;
}

.logo {
  padding-top: 70px;
}

@media only screen and (max-width: 700px) {
  .hide-on-mobile { display: none;  }

  .row1 { display: flex; flex-direction: column; }
  .row2 { display: flex; flex-direction: column; }
  .row3 { display: flex; flex-direction: column; }
  .row4 { display: flex; flex-direction: column; }
  .row5 { display: flex; flex-direction: column; }

  .row1-btm { display: flex; flex-direction: column; }
  .row2-btm { display: flex; flex-direction: column; }
  .row3-btm { display: flex; flex-direction: column; }
  .row4-btm { display: flex; flex-direction: column; }
  .row5-btm { display: flex; flex-direction: column; }

  .div1 { width: 95%; margin: 0 15px; }
  .div2 { width: 95%; margin: 0 15px; }
  .div3 { width: 95%; margin: 0 15px; }
  .div4 { width: 95%; margin: 0 15px; }
  .div5 { width: 95%; margin: 0 15px; }
  .div6 { width: 95%; margin: 0 15px; }
  .div7 { width: 95%; margin: 0 15px; }
  .div8 { width: 95%; margin: 0 15px; }

  .div1-btm { width: 95%; margin: 0 15px; }
  .div2-btm { width: 95%; margin: 0 15px; }
  .div3-btm { width: 95%; margin: 0 15px; }
  .div4-btm { width: 95%; margin: 0 15px; }
  .div5-btm { width: 95%; margin: 0 15px; }
  .div6-btm { width: 95%; margin: 0 15px; }
  .div7-btm { width: 95%; margin: 0 15px; }
  .div8-btm { width: 95%; margin: 0 15px; }

  .footer-menu { 
    width: 100%;
    flex-direction: column;
    height: auto;
    margin: 0 auto;
  }
}