@font-face {
  font-family: "BrownEntrata-Bold";
  src: url("fonts/BrownEntrata-Bold.otf");
}

@font-face {
  font-family: "BrownEntrata-Light";
  src: url("fonts/BrownEntrata-Light.otf");
}

@font-face {
  font-family: "BrownEntrata-Regular";
  src: url("fonts/BrownEntrata-Regular.otf");
}

@font-face {
  font-family: "BrownEntrata-Regular";
  src: url("fonts/BrownEntrata-Regular.otf");
}

html { overflow-x: hidden;}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Work Sans', sans-serif; */
  font-family: 'BrownEntrata-Regular';
}

.large-text { font-size: 45px; }
.dark-text { color: #212427; }
.red-text { color: red; }
.white-text { color: white; }
.light-gray-text { color: #ccc; }
.tiny-text { font-size: 12px;}
.margin-top-10 { margin-top: 10px; }
.margin-top-20 { margin-top: 20px; }
.margin-top-30 { margin-top: 30px; }
.margin-top-50 { margin-top: 50px; }
.margin-btm-10 { margin-bottom: 10px; }
.pad-btm-50 { padding-bottom: 50px; }
.width-400 { width: 500px; line-height: 47px;}
.down-arrow { padding-top: 10px; }

.font-size-22 { font-size: 22px; }
.font-weight-300 { font-weight: 300; font-family: 'BrownEntrata-Light', sans-serif; }
.shadow { box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); }
.testimonial-text { line-height: 1.5; color:#212427;}


video { z-index: -1; }

h1 {
  position: relative;
  font-size: 3vw;
  overflow: hidden;
}

h1 .box {
  position:absolute;
  bottom: 0;
  display: inline-block;
  background: #ccc;
  height: 1vw;
  z-index: -1;
}

h1 .hi {
  display: inline-block;
  font-size: 3vw;
}

h2 {
  color: #f5f5f5;
  font-size: 45px;
  padding-top: 110px;
  margin-bottom: 30px;
}

h3 {
  color: #f5f5f5;
  padding-bottom: 30px;
  font-size: 35px;
}

h4 {
   padding-top: 150px;
}

nav { 
  /* background-color: transparent; */
  position: relative;
}

.nav-bg-color { 
  background-color: white;
  height: 100px;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style-type: none;
  color: #F5F5F5; 
  font-weight: 400;
}

.top-nav { 
  z-index: 9999;
  padding-top: 20px;
 }

nav ul li {
  padding: 0 15px 15px;
  margin-left: 10px;
}

.fix-position { position: fixed; padding-right: 90px; }

section.hero { 
  height: 100vh;
  position: relative;
  width: 100%;

  background-color: rgba(0,0,0,0.5);
}

/* New Animated Button for site */
.animate-btn {
  color: #FFF;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 0 2em;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  padding: 0 25px;
}

.animate-btn:hover {
  text-decoration: none;
}

.btn-1 {
  background: transparent;
  font-weight: 100;
}

.btn-1 svg {
  height: 45px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  margin-top: -12px;
}

.btn-1 rect {
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  stroke-dasharray: 422, 0;
  transition: all 0.35s linear;
}

.btn-1:hover {
  background: rgba(255,51,45, 0);
  /* font-weight: 900; */
  /* letter-spacing: 1px; */
}

.btn-1:hover rect {
  stroke-width: 5;
  stroke-dasharray: 15, 310;
  stroke-dashoffset: 35; /* was 48  */
  transition: all 1.35s cubic-bezier(0.19,1, 0.22, 1);
}
/* End of New Animated Button for site */

.demo-btn {
  margin-top: 5%;
  border: 1px solid white;
  background-color: transparent;
  padding: 12px 25px;
  color: white;
}

.demo-btn-2 {
  position: fixed;
  margin-top: 10%;
  border: 1px solid white;
  background-color: transparent;
  padding: 10px 23px;
  top: -130px;
  right: 150px;
  color: white;
}

video {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  position: absolute;s
  z-index: 1;
}

.fixed-top-logo {
  position: fixed;
  top: 30px;
  left: 30px;
  z-index: 99;
}

.fixed-nav-search { 
  position: fixed;
  top: 10;
  right: 100px;
  margin-top: -15px;
  padding-left: 15px;
}

.fixed-nav-hamburger { 
  position: fixed;
  top: 10;
  right: 50px;
  margin-top: -15px;
}

button {
  margin-top: 30px;
  padding: 15px 35px;
}

.myclass { 
  display: block;
  color: red;
  margin-top: -50px;
  border-top: 2px solid #e42127;
  max-width: 700px;
  background-color: rgba(0,0,0,0.3);
  padding: 15px;
}

.myclass p {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'BrownEntrata-Light';
  font-weight: 300;
  font-size: 1.5rem;
}

.myclass2 {
  display: block;
  color: red;
  border-top: 2px solid red;
  max-width: 700px;
  margin-top: 70px;
  margin-bottom: -100px;
  padding: 15px 15px 25px;
}

.myclass2 p {
  /* padding-top:10px; */
  /* padding-bottom: 30px; */
  font-family: 'BrownEntrata-Bold';
  font-weight: 600;
  font-size: 1.5rem;
}

.myclass3 {
  display: block;
  color: red;
  border-top: 2px solid red;
  max-width: 700px;
  margin-bottom: -70px;
  padding: 15px;
}

.myclass3 p {
  padding-top:10px;
  font-family: 'BrownEntrata-Bold';
  font-weight: 600;
  font-size: 1.5rem;
}

.myclass4 {
  display: block;
  color: red;
  border-top: 2px solid red;
  max-width: 700px;
  margin: 50px auto;
  margin-bottom: -90px;
  margin-top: 50px;
  background-color: rgba(0,0,0,0.3);
  padding: 15px;
}

.myclass4 p {
  padding-top:10px;
  font-family: 'BrownEntrata-Bold';
  font-weight: 600;
  font-size: 1.5rem;
}

.myclass5 {
  display: block;
  color: red;
  border-top: 2px solid red;
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: -40px;
}

.myclass5 p {
  padding-top:10px;
  font-family: 'BrownEntrata-Bold';
  font-weight: 600;
  font-size: 1.5rem;
}

.myclass6 {
  display: block;
  color: white !important;
  border-top: 2px solid white;
  max-width: 700px;
  margin: 0 auto;
  /* padding-bottom:-100px; */
  margin-bottom: -40px;
}

.myclass6 p {
  padding-top:10px;
  font-family: 'BrownEntrata-Bold';
  font-weight: 600;
  font-size: 1.5rem;
}

#hero h1 {
  color: #f5f5f5;
  text-align: left;
  font-size: 65px;
}

#hero p {
  color: #f5f5f5;
  font-weight: 300;
  font-size: 25px;
  /* padding-bottom: 50px; */
}

div#hero {
  max-width: 700px;
  height: 280px;
  margin: 0 auto;
  margin-top: 30vh;
  background-color: transparent;
}

.test {
  /* background-color: red; */
  width: 100%;
  height: 900px;
}

.row1 { display: flex;}
.row2 { display: flex;}
.row3 { display: flex;}
.row4 { display: flex;}
.row5 { display: flex;}

.row1-btm { display: flex;}
.row2-btm { display: flex;}
.row3-btm { display: flex;}
.row4-btm { display: flex;}
.row5-btm { display: flex;}

.div1 { width: 335px; margin-right: 40px; }
.div2 { width: 335px; }
.div3 { width: 335px; margin-right: 40px; }
.div4 { width: 335px; }
.div5 { width: 335px; margin-right: 40px; }
.div6 { width: 335px; }
.div7 { width: 335px; }
.div8 { width: 335px; }

.div1-btm { width: 335px; margin-right: 40px; }
.div2-btm { width: 335px; }
.div3-btm { width: 335px; margin-right: 40px; }
.div4-btm { width: 335px; }
.div5-btm { width: 335px; margin-right: 40px; }
.div6-btm { width: 335px; }
.div7-btm { width: 335px; }
.div8-btm { width: 335px; }

.div8 .submit-btn { width: 175px;}


/* Demo Form Styling */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=tel]{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: red;
  border: 2px solid white;
  color: white;
  font-weight: bold;
  margin-top: 30px;
  padding: 15px 35px;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: white;
  color: red;
}

/* .container {
  max-width: 700px;
  margin: 0 auto;
  border-radius: 5px;
  background-color: red;
  color: white;
  padding: 20px 0;
} */
/* End of Demo Form Styling */

#app {
  max-width: 700px;
  height: auto;
  margin:0 auto;
  padding-bottom: 50px;
}

.slider {
  display: flex;
  margin-bottom: 90px;
}

.app-screen:nth-child(1) {
  padding-left: 75px;
}

.app-screen { 
  margin-left: -75px;
  padding-right: 50px;
  flex-direction: column;
  text-align: center;
 }

.app-screen p {
  padding-top: 7px;
}

.benefits {
  display: flex;
  flex-direction: row;
  font-size: 14px;
}

.trigger {
  position: relative;
  width: 100vw;
  height: 450px;
  padding: 0px;
  clear:both;
}

.trigger2 {
  position: relative;
  width: 100vw;
  height: 575px;
  padding: 0px;
  clear:both;
}

.trigger3 {
  position: relative;
  width: 100vw;
  height: 600px;
  padding: 0px;
  clear:both;
}

.boxscroll {
  position:absolute;
  /* top:50%; */
  top: 400px;
  left:35%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  /* width: 40vw; */
  width: 70vw;
  height: 400px;
  z-index:99;
}

.boxscroll2 {
  position: absolute;
  top: 100px;
  left: 0%;
  background-color: transparent;
  width: 70vw;
  height: 400px;
  z-index: 99;
}

.boxscroll3 {
  position: absolute;
  top: 250px;
  left: 20%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  width: 70vw;
  height: 400px;
  z-index: 99;
}

.cards {
  display: flex;
  width: 700px;
  height: 500px;
  margin: 0 auto;
}

.card-title {
  font-size: 15px;
  margin-top: 280px;
  text-align: center;
}

a { 
  text-decoration: none;
  color: black;
}

.card { 
  width: 183px;
  height: 395px;
  background: white;
  border-radius: 1.2rem;
  padding: 2rem;
  box-shadow: 3px -2px 10px 2px rgba(0,0,0, 0.45);
  transition: 0.2s;
}

.card1 { 
  background-image: url('images/image-1.png'); 
  background-repeat: no-repeat;
  background-size: 185px;
  width: 183px;
  height: 395px;
}

.card2 { 
  background-image: url('images/image-2.png'); 
  background-repeat: no-repeat;
  background-size: 183px;
  width: 183px;
  height: 395px;
}

.card3 { 
  background-image: url('images/image-3.png'); 
  background-repeat: no-repeat;
  background-size: 183px;
  width: 183px;
  height: 395px;
}

.card4 { 
  background-image: url('images/image-4.png'); 
  background-repeat: no-repeat;
  background-size: 183px;
  width: 183px;
  height: 395px;
}

.card5 { 
  background-image: url('images/image-5.png'); 
  background-repeat: no-repeat;
  background-size: 183px;
  width: 183px;
  height: 395px;
}

.card:not(:first-child) {
  margin-left: -3rem;  
}

.card:hover {
  transform: translateY(-1rem);

}

.card:hover  ~ .card {
  transform: translateX(3rem);
}

/* New iphone section */
section.iphone {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px 0;
}

section.iphone .box {
  position:absolute;
  /* top: 60%; */
  top: 25%;
  left: 18%;
  max-width: 1200px;
  transform: translate(-50%,-50%);
}

section.iphone .box img {
  /* max-width: 100%; */
  /* max-width: 1200px; */
  max-width: 900px;
}

/* End of New iphone section */

.app-introduction {
  max-width: 700px;
  line-height: 1.10;
  margin-top: -30px;
}

.app-introduction p {
  line-height: 24px;
  margin-bottom: 30px;
  font-weight: 300;
  font-family: 'BrownEntrata-Light';
  font-size: 16px;
}

.apps { margin-bottom: 90px; }

hr {
  margin: 25px 0;
}

.benefits ul {
  padding-right: 50px;
  margin-bottom: 105px;
  margin-left: 15px;
}

.benefits ul li {
  margin: 9px 0;
}

section#alexa {
  display: flex;
  width: 100%;
  height: 400px;
  margin: 0 auto;
  background:transparent;
  color: white;
  font-size: 30px;
}

.alexa-voice {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 260px;
}

.alexa-voice p .rp {
  color: white;
  font-size: 1.25rem;
}

.alexa-img {
  margin-top: 116px;
  margin-right: 295px;
}

/* New for alexa video */

.video-container {
  height: 600px;
  width: 100%;
  position: relative;
}

.video-container video {
width: 100%;
height: 100%;
position: absolute;
object-fit: cover;
z-index: -1;
}

/* Just styling the content of the div, the *magic* in the previous rules */
.video-container .caption {
z-index: 1;
position: relative;
text-align: center;
color: #dc0000;
padding: 10px;
}

/* End of Alexa Video section */


/* NO OBLIGATION SECTION */

.reduce-risk {
  color: black;
}

/* New Testimonial */
.thero {
  /* background-color: #F0F0F0; */
  height: 800px;
  width: 100%;
  position: relative;
  /* z-index: -1; */
}

.thero h1 {
  padding-top: 120px;
  font-size: 40px;
  color: #212427;
}

.h1-container {
  max-width: 700px;
  margin: 0 auto;
}

.slide-row {
  display: flex;
  width: 3200px;
  transition: 0.5s;
}

.slide-col {
  width: 800px;
  height: 350px;
  position: relative;
}

.user-img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.user-img img {
  height: 100%;
  border-radius: 50%;
}

.user-text {
  background: #212427;
  width: 520px;
  height: 320px;
  position: absolute;
  right: 0;
  top: 30%;
  transform: translateY(-50%);
  color: #d3d4d6;
  padding: 45px;
  box-sizing: border-box;
  z-index: 2;
  box-shadow: -8px 10px 5px -5px rgba(0,0,0,0.44);
-webkit-box-shadow: -8px 10px 5px -5px rgba(0,0,0,0.44);
-moz-box-shadow: -8px 10px 5px -5px rgba(0,0,0,0.44);
}

.user-text p {
  font-size: 18px;
  line-height: 24px;
}

.user-text {
  margin: 5px 0 5px;
  color: white;
}

.test-container {
  width: 800px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.indicator {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -50px;
}

.btn {
  display: inline-block;
  height: 15px;
  width: 15px;
  margin: 4px;
  border-radius: 15px;
  background: red;
  cursor: pointer;
  transition: 0.5s;
}

.active {
  width: 45px;
}

.test {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-top: 50px;
}

/* End of New Testimonial */

.offer {
  display: flex;
  width: 100%;
  height: 300px;
  margin-top: 20%;
  
}

.benefit {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.review-container {
  display: flex;
  max-width: 750px;
  margin: 90px auto;
  height: auto;
}

.review:nth-child(1) {
  padding-right: 15px;
}

.review {
  display: flex;
  padding-right: 15px;
}

.customer-review-container {
  border-bottom: 1px solid #ccc; 
  padding: 0 30px;
  margin-left: 30px;
}

.footer-form {
  background-color: red;
}

.footer-container {
  background-color: red;
}

.form-container { 
  max-width: 700px;
  margin: 0 auto;
  padding-bottom: 130px;
}

.form-container-btm { 
  max-width: 700px;
  margin: 0 auto;
  padding-top:50px;
  padding-bottom: 110px;
}

.hidden { display: none; }

label {
  color: white;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: red;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: transparent;
}

.testimonials-container {
  padding-top: 60px;
}

.testimonial-text {
  font-size: 20px;
}

.customer {
  margin-top: 15px;
  font-weight: 300;
  font-style: italic;
}

footer {
  display: block;
  width: 100%;
  height: 600px;
  background-color: black;
}

.footer-menu {
  display: flex;
  color: white;
  background-color: black;
  padding-left: 18%;
}

.no-bullets {
  list-style-type: none;
}

.footer-link {
  text-decoration: none;
  color: white;
  font-family: 'BrownEntrata-Light';
  font-weight: 300;
}

.footer-link:hover {
  text-decoration: underline;
}


ul {
  flex-direction:column;
  padding-right: 60px;
}

li {
  font-weight:300;
  font-family: 'BrownEntrata-Light';
  line-height: 1.5;
  font-size: 16px;
}

.col-1 { margin-top: 80px; }
.col-2 { margin-top: 80px; }
.col-3 {margin-top: 80px; }
.col-4 {margin-top: 80px; }
.col-5 {margin-top: 80px; }
.col-6 {margin-top: 80px; }

.footer-logo {
  width: 100%;
  display: block;
  margin: 0 auto;
  text-align: center;
  background-color: black;
}

.logo {
  padding-top: 70px;
}

@media only screen and (max-width: 700px) {
  .hide-on-mobile { display: none;  }

  .row1 { display: flex; flex-direction: column; }
  .row2 { display: flex; flex-direction: column; }
  .row3 { display: flex; flex-direction: column; }
  .row4 { display: flex; flex-direction: column; }
  .row5 { display: flex; flex-direction: column; }

  .row1-btm { display: flex; flex-direction: column; }
  .row2-btm { display: flex; flex-direction: column; }
  .row3-btm { display: flex; flex-direction: column; }
  .row4-btm { display: flex; flex-direction: column; }
  .row5-btm { display: flex; flex-direction: column; }

  .div1 { width: 95%; margin: 0 15px; }
  .div2 { width: 95%; margin: 0 15px; }
  .div3 { width: 95%; margin: 0 15px; }
  .div4 { width: 95%; margin: 0 15px; }
  .div5 { width: 95%; margin: 0 15px; }
  .div6 { width: 95%; margin: 0 15px; }
  .div7 { width: 95%; margin: 0 15px; }
  .div8 { width: 95%; margin: 0 15px; }

  .div1-btm { width: 95%; margin: 0 15px; }
  .div2-btm { width: 95%; margin: 0 15px; }
  .div3-btm { width: 95%; margin: 0 15px; }
  .div4-btm { width: 95%; margin: 0 15px; }
  .div5-btm { width: 95%; margin: 0 15px; }
  .div6-btm { width: 95%; margin: 0 15px; }
  .div7-btm { width: 95%; margin: 0 15px; }
  .div8-btm { width: 95%; margin: 0 15px; }

  .footer-menu { 
    width: 100%;
    flex-direction: column;
    height: auto;
    margin: 0 auto;
  }
}